@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

.age-test-center-div {
  font-family: 'Work sans';
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 20vh;
  height: 60vh;
  width: 30vw;
  border-radius: 1em;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 0px #757575;
}

.age-test-button {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border-width: 0px;
  color: #FFFFFF;
  font-family: 'Work sans';
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  margin: 20px;
  width: 5vw;
  background-color: #3DF69A;

  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.card-title {
  align-self: center;

}

.age-test-center-div 
.button-container {
  align-self: center;

  display: flex;
  flex-direction: row;
  justify-content: center ;
}

.age-test-button:hover {
  background: #1EC178;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
  cursor: auto;
}

p {
  align-self: center;
}